<html>

<br />
<br />

<head>
<title>Kevin Ta</title>
</head>


<link rel="stylesheet" href="static/MyStyles.css">

<body> 
    <h1><center>Kevin&nbspTa</center></h1>
    <div class = "MenuBar">
        <a href = "/" target = "_self" style = "text-decoration: none;">Home</a>
        <a href = "/contact" target = "_self" style = "text-decoration: none;">Contact</a>
        <a href = "/projects" target = "_self" style = "text-decoration: none;">Projects</a>
    </div>
    
    <br />
    <br />
    
    <form action="http://localhost:5000/process" method="POST">
    Student Name <input name="student_name"> <br>
    Student ID <input name="id"> <br>
    <input type="submit"></input>
</body>


</html>

