<html>
<br />
<br />

<head>
<title>Kevin Ta</title>    
</head>

<link rel="stylesheet" href="static/MyStyles.css">

<body>
    <h1><center>Kevin&nbspTa</center></h1>

    <div id = "MenuBar">
        <a id = "MenuLink" href = "/" target = "_self" >Home</a>
        <a id = "MenuLink" href = "/contact" target = "_self" >Contact</a>
        <a id = "MenuLink" href = "/projects" target = "_self" >Projects</a>
    </div>

    <br />
    <br />

    <h3>About Me!</h3>
    <hr />

    <p>Hello! My name is Kevin Ta and I am a 4th-Year Computer Science student at the University of California-Merced. <br/>
       I have interests in front-end UI developemt as well as Database Structures such as SQLite. 
        </p>
    
</body>


</html>