<html>
<br />
<br />

<head>
<title>Kevin Ta</title>    
</head>

<link rel="stylesheet" href="static/MyStyles.css">

<body>
    <h1><center>Kevin&nbspTa</center></h1>

    <div id = "MenuBar">
        <a id = "MenuLink" href = "/" target = "_self" >Home</a>
        <a id = "MenuLink" href = "/contact" target = "_self" >Contact</a>
        <a id = "MenuLink" href = "/projects" target = "_self" >Projects</a>
    </div>

    <br />
    <br />

    <h3>Projects!</h3>
    <hr />

    <a id = "ResumeLink" href = https://www.slideshare.net/slideshow/embed_code/key/mDj0WvtK3OmK6d target = "_blank">Resume <a/>
    
    
</body>


</html>